@charset "utf-8";

@font-face {
    font-family: 'Avenir Next';
    src: url('./fonts/avenir-regular-normal.woff2') format('woff2'),
         url('./fonts/avenir-regular-normal.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./fonts/avenir-medium-normal.woff2') format('woff2'),
         url('./fonts/avenir-medium-normal.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.react-dropdown-tree-select .dropdown,
.react-dropdown-tree-select .dropdown .dropdown-trigger {
    width: 100%;
}

.react-dropdown-tree-select .dropdown .dropdown-trigger,
.react-dropdown-tree-select .dropdown .dropdown-content {
    box-sizing: border-box;
}

.react-dropdown-tree-select .dropdown .dropdown-content {
    z-index: 0;
    position: relative;
}

.react-dropdown-tree-select .node {
    padding: 6px 4px;
}